.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px;
  margin: 40px auto 60px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-gallery-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 998px;
}

.u-section-2 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 16px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 929px;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1092px;
  grid-gap: 38px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-shape-1 {
  width: 19px;
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 25px 152px 0 60px;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-shape-2 {
  width: 19px;
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 25px 152px 0 60px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-shape-3 {
  width: 19px;
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 25px 152px 0 60px;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-shape-4 {
  width: 19px;
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 25px 152px 0 60px;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-shape-5 {
  width: 19px;
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  margin: 25px 152px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-shape-1 {
    height: 188px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -49px auto 0 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 57px;
  }

  .u-section-2 .u-shape-2 {
    height: 188px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -49px auto 0 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 57px;
  }

  .u-section-2 .u-shape-3 {
    height: 188px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -49px auto 0 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 57px;
  }

  .u-section-2 .u-shape-4 {
    height: 188px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -49px auto 0 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 57px;
  }

  .u-section-2 .u-shape-5 {
    height: 188px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -49px auto 0 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-shape-1 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-shape-2 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 7px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-shape-3 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 7px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-shape-4 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-text-8 {
    margin-top: 7px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-shape-5 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-text-10 {
    margin-top: 7px;
    margin-right: 25px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g7a2c945f00321700c8f2ba90a4f5757a0ca776d6abf1ba7a5245dc5ba7b8e3b5b3343ed2f1ce210dcfed87446cecac272903a78001003149e6dd4d2f48b81f1c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 388px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 116px;
  }
}